profiles {

    allegro {
        process.executor = 'slurm'
        process.memory = '1 GB'
        process.cpus = 16
        process.queue = 'nowick'
        process.time = '10d'
    }

    chimpanzee {
        params.fasta = '/data/scratch/yaochung41/reference/panTro4.fa'
        params.reads = '/data/scratch/yaochung41/kap1/data/Chimp_*_R{1,2}.fastq'
        params.indexDir = '/data/scratch/yaochung41/genomeIndex/panTro4'
        params.indexPrefix = 'panTro4'
        params.outdir = './results'
        params.gtf = '/data/scratch/yaochung41/gtf_file/panTro4.ensGene.gtf'
        params.rmsk_ind = '/data/scratch/yaochung41/gtf/panTro6_rmsk_TE.gif.ind'
        params.quantdir = './quantResults'
    }
}

